﻿@using ShopDetail.Models
@using Common.Dac
@using Common
@model DeptModel


<div class="tableAuto">
    <div class="over_auto">
        <table class="table table-bordered table-hover table-striped dataTable table-head-center">
            <thead>
                <tr>
                    <th class="wpx50">@DACS.T("STT")</th>
                    <th class="wpx50 center">
                        <label>
                            <input class="group-checkable" type="checkbox">
                            <span class="text"></span>
                        </label>
                    </th>
                    <th>
                        @DACS.T("Mã phòng ban")
                    </th>
                    <th class="">
                        @DACS.T("Tên phòng ban")
                    </th>
                    <th class="">
                        @DACS.T("Ngày tạo")
                    </th>
                    <th class="wpx50 text-center">
                        @DACS.T("Thao tác")
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                        if (Model.Depts.Any())
                        {
                            int stt = 0;
                            foreach (var item in Model.Depts)
                            {
                                stt++;
                                var updateLink = DACS.ReUrl(DACS.admin + "/dept/update/{0}.html", DACS.StringAlias(item.Name, item.ID));
                                var deleteLink = DACS.ReUrl(DACS.admin + "/dept/is-delete/{0}.html", DACS.StringAlias(item.Name, item.ID));
                    <tr>
                        <td class="center">
                            @stt
                        </td>
                        <td class="center">
                            <label>
                                <input data-id="@item.ID" class="checkboxes" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </td>
                        <td>

                            @item.Code
                        </td>
                        <td class="">
                            <a href="@DACS.ReUrl(DACS.admin+"/dept/{0}.html",DACS.StringAlias(item.Name,item.ID))"> @item.Name </a>

                        </td>
                        <td class="">
                            @item.Created.ToString("dd/MM/yyyy")
                        </td>

                        <td class="center" rowspan="1" data-title="Thao tác">
                            <ul class="important_action_btn">

                                <li class="">
                                    <a class="quickUpdate" data-id="@item.ID" title="@DACS.T("Sửa")" href="@updateLink">
                                        <i class="fa fa-edit btn-warning"></i>
                                    </a>
                                </li>
                                <li class="">
                                    <a title="Xóa" class="quickDelete" href="@deleteLink" data-id="@item.ID">
                                        <i class="fa fa-trash btn-danger"></i>
                                    </a>
                                </li>

                            </ul>
                        </td>
                    </tr>

                            }
                        }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="DTTTFooter">
    <div class="col-sm-6">
        <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite">
           @( ViewBag.Pagination.RowCount > 0 ? DACS.T("Có tổng số {0} phòng ban", ViewBag.Pagination.RowCount) : DACS.T("Không có phòng ban nào"))
        </div>
    </div>
    <div class="col-sm-6">
       @ViewBag.Pagination.Render()
    </div>
</div>
