﻿<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@DACS.ReUrl("/")">@DACS.T("Tổng quan")</a>
        </li>
        <li>
            <a>@DACS.T("Giao diện")</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-yellow">
                    <span class="widget-caption"><i class="menu-icon fa fa fa-list-alt"></i>DANH SÁCH</span>
                    <div class="widget-buttons">
                        <a data-toggle="maximize" href="#"><i class="fa fa-expand"></i></a>
                        <a data-toggle="collapse" href="#"><i class="fa fa-minus"></i></a>
                        <a data-toggle="dispose" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div class="dataTables_wrapper form-inline">
                        <div class="dataTables_filter">
                            <form class="quickSearch dataFilter" data-target="#div-declaration" action="/declaration.html" method="post" enctype="multipart/form-data">
                                <div class="col-md-2 col-sm-2">
                                    <label>
                                        <input class="form-control" data-bv-field="Name" data-bv-notempty="true" data-bv-notempty-message="Họ và tên không được để trống" id="CrtName" name="Name" placeholder="Họ và tên" title="Họ và tên" type="text">
                                    </label>
                                </div>
                                <div class="col-md-2 dataFilter_Dropdown_Section col-sm-2">
                                    <div class="dropdown dataFilter_Dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="dataFilter_Dropdown">
                                            <i class="fa fa-sliders" aria-hidden="true"></i> Lọc
                                        </button>
                                    </div>
                                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i><span class="hidden-search">Tìm kiếm</span> </button>
                                    <a title="Hủy tìm kiếm" class="btn btn-info " href="/declaration.html"><i class="fa fa-times" aria-hidden="true"></i><span class="hidden-search"> Hủy</span></a>
                                </div>
                                <div class="dropdown-menu dataFilter_Dropdown_target">
                                    <div class="dropdown-menu-content">
                                        <a href="#" title="Đóng" class="dataFilter_Dropdown_close"><i class="ion-android-close"></i></a>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-md-2  col-sm-2">
                                                    <label>
                                                        <select class="form-control " data-container="body" id="CrtAppointmentType" name="AppointmentType"><option value="">Loại phiếu</option><option value="1">Phiếu LLTP số 1</option><option value="2">Phiếu LLTP số 2</option></select>
                                                    </label>
                                                </div>
                                                <div class="col-md-2  col-sm-2">
                                                    <label>
                                                        <input aria-controls="searchable" class="form-control" id="CrtAppointmentCode" name="AppointmentCode" placeholder="Số phiếu hẹn" title="Số phiếu hẹn" type="text">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" class="redirectauto" name="RedirectPath" value="#RedirectPath">
                            </form>
                        </div>
                        <div class="DTTT btn-group ">
                            <a title="Xóa" data-href="/declaration/is-deletes.html" class="btn btn-danger hidden actMultiTicks btndelete" aria-controls="searchable">
                                <i class="fa fa-trash no-margin" aria-hidden="true"></i> Xóa
                            </a>
                            <div class="btn-group">
                                <a href="javascript:;" title="Export dữ liệu" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">
                                    <i class="glyphicon glyphicon-export"></i>&nbsp; Export  &nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="/declaration/DeclarationExport.html?ReceptionedFrom=&amp;ReceptionedTo=&amp;ProccessedFrom=&amp;ProccessedTo=&amp;AppointmentedFrom=&amp;AppointmentedTo=" class="btn btn-sm ">
                                            <i class="fa fa-file-excel-o"></i>Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a title="Tạo mới" href="/declaration/create.html" class="btn btn-info " tabindex="0" aria-controls="searchable">
                                <i class="fa fa-plus no-margin" aria-hidden="true"></i>Tạo mới
                            </a>
                        </div>
                        <div class="divContainer">
                            <div id="div-declaration" class="divContainer">
                                <div class="tableAuto">
                                    <div class="over_auto">
                                        <table class="table table-bordered table-hover table-striped dataTable table-head-center">
                                            <thead>
                                                <tr>
                                                    <th class="wpx50">STT</th>
                                                    <th class="wpx50 center">
                                                        <label>
                                                            <input class="group-checkable" type="checkbox">
                                                            <span class="text"></span>
                                                        </label>
                                                    </th>
                                                    <th>Đơn vị</th>
                                                    <th>Thời gian</th>

                                                    <th>Thông tin phiếu</th>

                                                    <th>Thông tin</th>

                                                    <th>Người sửa cuối cùng</th>

                                                    <th class="wpx50">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @for (int i = 1; i <= 10; i++)
                                                {
                                                    <tr>
                                                        <td class="center" data-title="STT">@i</td>
                                                        <td class="center">
                                                            <label>
                                                                <input data-id="209" class="checkboxes" type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td data-title="Đơn vị">
                                                            <span class="label label-primary" value="1">Đã lưu</span>
                                                        </td>

                                                        <td data-title="Thời gian">

                                                            <p>02-09-2018</p>
                                                        </td>
                                                        <td data-title="Thông tin phiếu">
                                                            <p> Phiếu LLTP số 1</p>
                                                        </td>

                                                        <td data-title="Thông tin">
                                                            <p>Nguyễn Văn Hoàng </p>
                                                        </td>

                                                        <td data-title="Người sửa cuối cùng">Admin Cloud</td>

                                                        <td class="center" rowspan="1" data-title="Thao tác">
                                                            <ul class="important_action_btn">

                                                                <li class="">
                                                                    <a class="" data-id="209" title="Sửa" href="/declaration/update/nguyen-van-hoang-209.html">
                                                                        <i class="fa fa-edit btn-warning"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="">
                                                                    <a class="btndelete" data-id="209" title="Xóa" href="">
                                                                        <i class="fa fa-trash btn-danger"></i>
                                                                    </a>
                                                                </li>

                                                            </ul>
                                                        </td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="DTTTFooter">

                                    <div class="col-sm-6">
                                        <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite">
                                            Showing 1 to 5 of 25 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="dataTables_paginate paging_bootstrap" id="simpledatatable_paginate">
                                            <div class="btn-group dropup">
                                                <a href="#" data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">10 <i class="fa fa-angle-down"></i></a><ul class="dropdown-menu dropdown-blue dropdown-menu-right"><li><a href="?page=1&amp;np=10">10</a></li><li><a href="?page=1&amp;np=20">20</a></li><li><a href="?page=1&amp;np=30">30</a></li></ul>
                                            </div>
                                            <ul class="pagination"><li class="prev disabled"><a href="#">Prev</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next</a></li></ul>
                                        </div>
                                    </div>
                                </div>
                                <style>
                                    .quickDelete {
                                        margin-bottom: 0 !important;
                                        min-width: 0 !important;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>