﻿@using Common.Dac
@model List<SliderInfor>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="danhmuc" class="widget radius-bordered">
            <div class="widget-header">
                <span class="widget-caption">@DACS.T("Danh sách sản phẩm")</span>
                <div class="widget-buttons">
                    <form action="@Request.Url.AbsoluteUri">
                        <span class="input-icon">
                            <input type="text" class="form-control input-xs" value="@ViewBag.Term" name="Term" id="glyphicon-search" placeholder="Search">
                            <i class="glyphicon glyphicon-search blue"></i>
                        </span>
                    </form>
                </div>
                <div class="widget-buttons">
                    <div class="buttons-preview">
                        <a data-link="@DACS.ReUrl(DACS.admin+"/slider-header/xoa.html","")" data-ids="" class="btn btn-danger checkboxshow btndelete hidden"><i class="fa fa-times"></i>@DACS.T("Xóa")</a>
                        <a data-link="@DACS.ReUrl(DACS.admin+"/slider-header/xuatban.html","")" data-ids="" class="btn btn-success checkboxshow btnxuatban hidden">@DACS.T("Xuất Bản") <i class="fa fa-check right"></i></a>
                        <a data-link="@DACS.ReUrl(DACS.admin+"/slider-header/huyxuatban.html","")" data-ids="" class="btn btn-danger checkboxshow btnhuyxuatban hidden">@DACS.T("Hủy xuất bản") <i class="fa fa-warning right"></i></a>
                        <a href="@DACS.ReUrl(DACS.admin+"/slider-header/themmoi.html","")" class="btn btn-primary"><i class="fa fa-plus"></i>@DACS.T("Tạo mới")</a>
                    </div>
                </div>
            </div>
            <div class="widget-body" style="height: auto;">
                <div class="flip-scroll">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content bordered-palegreen">
                            <tr>
                                <th>
                                    <div class="item-check">
                                        <label>
                                            <input type="checkbox" data-container="#danhmuc" data-itemshow=".checkboxshow" class="checkboxall">
                                            <span class="text"></span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    @DACS.T("STT")
                                </th>
                                <th>
                                    @DACS.T("Hình ảnh")
                                </th>
                                <th class="">
                                    @DACS.T("Ten")
                                </th>
                                <th class="">
                                    @DACS.T("Trạng thái")
                                </th>
                                <th class="width10pt text-center">
                                    @DACS.T("Chức năng")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Any())
                                {
                                    int stt = 0;
                                    foreach (var item in Model)
                                    {
                                        stt++;
                                        <tr>
                                            <td>
                                                <div class="item-check">
                                                    <label>
                                                        <input data-id="@item.ID" type="checkbox" data-container="#danhmuc" data-itemshow=".checkboxshow" class="checkboxitem">
                                                        <span class="text"></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                @stt
                                            </td>
                                            <td>
                                                <div class="td-img-avatar">
                                                    <img class="img-responsive" src="@DACS.StgPath(item.ThumbPath)" title="@item.ThumbName" />
                                                </div>
                                            </td>
                                            <td class="">
                                                @item.Name
                                            </td>
                                            <td class="">
                                                @if (!item.IsPublish)
                                                {
                                                    <span class="red">@DACS.T("Chưa xuất bản")</span>
                                                }
                                                else
                                                {
                                                    <span class="">@DACS.T("Xuất bản")</span>
                                                }
                                            </td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-azure dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        @DACS.T("Chức năng") <i class="fa fa-angle-down"></i>
                                                    </a>
                                                    <ul class="dropdown-menu dropdown-azure">
                                                        @if (!item.IsPublish)
                                                        {
                                                            <li>
                                                                <a href="@DACS.ReUrl(DACS.admin+"/slider-header/xuat-ban.html?ids={0}",item.ID.ToString())">@DACS.T("Xuất bản") </a>
                                                            </li>}
                                                        else
                                                        {
                                                            <li>
                                                                <a href="@DACS.ReUrl(DACS.admin+"/slider-header/huy-xuat-ban.html?ids={0}",item.ID.ToString())">@DACS.T("Hủy xuất bản") </a>
                                                            </li>
                                                        }
                                                        <li>
                                                            <a href="@DACS.ReUrl(DACS.admin+"/slider-header/sua/{0}.html",DACS.StringAlias(item.Name,item.ID))">@DACS.T("Sửa") </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a class="btndelete" data-link="@DACS.ReUrl(DACS.admin+"/slider-header/xoa.html","")" data-ids="@item.ID">@DACS.T("Xóa")</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }
                            }

                        </tbody>
                    </table>
                </div>
                @ViewBag.Pagination.Render()
            </div>
        </div>
    </div>
</div>