﻿@if (ViewBag.CUser != null && ViewBag.CUser.ID != 0)
{
    var guest = (Guest)ViewBag.CUser;
    <div class="list-group ">
        <div class="infor-account">
            <img class="acc-avatar img-thumbnail img-responsive" src="@(string.IsNullOrEmpty(guest.Avatar)? "/Assets/app/img/noavatar.png":guest.Avatar )" />
            <h4>@guest.Name</h4>
        </div>
        <a href="@Locate.Url("/account/quan-ly-tai-khoan/{0}.html", Utils.StringAlias(ViewBag.CUser.Name, ViewBag.CUser.ID))" class="list-group-item list-group-item-action">@Locate.T("Quản lý tài khoản")</a>
        <a href="@Locate.Url("/play-list/{0}.html", Utils.StringAlias(ViewBag.CUser.Name, ViewBag.CUser.ID))" class="list-group-item list-group-item-action ">@Locate.T("Play list")</a>
        <a href="@Locate.Url("/account/nhac-ca-nhan/{0}.html", Utils.StringAlias(ViewBag.CUser.Name, ViewBag.CUser.ID))" class="list-group-item list-group-item-action ">@Locate.T(" Tui Upload")</a>
        <a href="#" class="list-group-item list-group-item-action ">@Locate.T("Đăng xuất")</a>
    </div>
}
