﻿.wauto{
    width: auto;
}
.wpx10{
    width: 10px;
}
.wpx20{
    width: 20px;
}
.wpx25{
    width: 25px;
}
.wpx30{
    width: 30px;
}
.wpx35{
    width: 35px;
}
.wpx40{
    width: 40px;
}
.wpx45{
    width: 45px;
}
.wpx50{
    width: 50px;
}
.wpx60{
    width: 60px;
}
.wpx70{
    width: 70px;
}
.wpx80{
    width: 80px;
}
.wpx90{
    width: 90px;
}
.wpx100{
    width: 100px;
}
.wpx110{
    width: 110px;
}
.wpx120{
    width: 120px;
}
.wpx130{
    width: 130px;
}
.wpx150{
    width: 150px;
}
.wpx160{
    width: 160px;
}
.wpx170{
    width: 170px;
}
.wpx171{
    width: 171px;
}
.wpx180{
    width: 180px;
}
.wpx190{
    width: 190px;
}
.wpx200{
    width: 200px;
}
.wpx205{
    width: 205px;
}
.wpx210{
    width: 210px;
}
.wpx220{
    width: 220px;
}
.wpx230{
    width: 230px;
}
.wpx240{
    width: 240px;
}
.wpx250{
    width: 250px;
}
.wpx260{
    width: 260px;
}
.wpx270{
    width: 270px;
}
.wpx280{
    width: 280px;
}
.wpx290{
    width: 290px;
}
.wpx300{
    width: 300px;
}
.wpx330{
    width: 330px;
}
.wpx430{
    width: 430px;
}
.wpc10{
    width: 10%;
}
.wpc20{
    width: 20%;
}
.wpc30{
    width: 30%;
}
.wpc33{
    width: 33.33%;
}
.wpc50{
    width: 50%;
}
.wpc60{
    width: 60%;
}
.wpc70{
    width: 70%;
}
.wpc80{
    width: 80%;
}
.wpc90{
    width: 90%;
}
.wpc100{
    width: 100%;
}
.padt10{
    padding-top: 10px;
}
.padt15{
    padding-top: 15px;
}
.padt20{
    padding-top: 20px;
}
.padt25{
    padding-top: 25px;
}
.padt30{
    padding-top: 30px;
}
.padt35{
    padding-top: 35px;
}