﻿/*@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto';*/
body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Segoe UI', sans-serif, Arial;
    font-size: 16px;
    color: #000000;
    background-color: #f2f3f5;
}

.img-responsive {
    width: 100%;
}
.no-margin {
    margin:0px;
}
.no-padding {
    padding:0px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 0px;
}
.pt-cuser{
    cursor:pointer;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
    outline: none;
    outline-offset: 0;
    text-decoration: none;
    background: transparent;
}

a {
    color: #373737;
    text-decoration: none;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

header a, header a:focus {
    color: #b0b0b0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: #ff5500;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    text-transform: capitalize;
}

label {
    font-weight: 400;
}

.mgbt {
    margin-bottom: 20px !important;
}

.mgtp10 {
    margin-top: 10px !important;
}

.mgtp {
    margin-top: 20px !important;
}

.no-mgbt {
    margin-bottom: 0px !important;
}

.no-mgtp {
    margin-top: 0px !important;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    margin-bottom: 15px;
    font-size: 26px;
}

    .section-title, .section-title a {
        color: #ff5500;
    }

        .section-title .normal-text {
            font-size: 14px;
            color: #757575;
        }

.section-tab {
    display: inline-block;
    float: right;
    color: #757575;
    margin-top: 10px;
    font-size: 16px;
}

    .section-tab a {
        color: #757575;
    }

    .section-tab:hover a, .section-tab:hover {
        color: #ff5500;
    }

    .section-tab i.fa {
        font-size: 26px;
    }

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    color: #757575;
    text-decoration: none;
    background: none;
    border: none;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #ff5500;
    cursor: default;
    background: none;
    border-color: none !important;
}


.music-player audio, .music-player video {
    width: 100%;
}

.music-button {
    margin-top: 10px;
}

    .music-button .fa {
        font-size: 20px;
        margin-left: 6px;
        color: #757575;
    }

        .music-button .fa:hover {
            color: #ff5500;
        }

    .music-button .fa-align-justify {
        position: relative;
        margin-left: 15px;
    }

        .music-button .fa-align-justify::after {
            font-family: "FontAwesome";
            content: "\f067";
            font-size: 10px;
            position: relative;
            top: 4px;
            left: -8px;
            margin-left: 4px;
            background: #f2f3f4;
            padding-left: 1px;
            padding-top: 0px;
        }
/*post*/
.post {
    margin-bottom: 20px;
    overflow: hidden;
}

    .post .post-title {
        margin-top: 6px;
    }

        .post .post-title a {
            font-weight: 600;
            font-size: 16px;
        }

    .post .post-thumb {
        position: relative;
    }

        .post .post-thumb::before {
            position: absolute;
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            content: '';
            width: 50%;
            height: 100%;
            background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            -webkit-transform: skewX(-25deg);
            transform: skewX(-25deg);
        }

        .post .post-thumb:hover::before {
            -webkit-animation: shine .75s;
            animation: shine .75s;
        }

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


.post-title a:hover, .post:hover .post-title a, .hpost:hover .post-title a {
    color: #ff5500;
}

.post-desc {
    color: #757575;
    font-size: 14px;
}
/*hpost*/
.hpost {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

    .hpost .post-thumb {
        width: 90px;
        float: left;
        margin-right: 20px;
    }

    .hpost .post-content {
        float: left;
    }

    .hpost .post-title {
        margin-top: 6px;
    }

        .hpost .post-title a {
            font-weight: 600;
            font-size: 16px;
        }

.music-song-list .hpost {
    border-bottom: 1px solid #d7d7d7;
}

    .music-song-list .hpost:last-child {
        border-bottom: none;
    }

.play-album .hpost {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
}

    .play-album .hpost:last-child {
        border-bottom: none;
    }

    .play-album .hpost .post-thumb {
        width: 60px;
        margin-right: 10px;
    }

.profile-singer .hpost {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
}

    .profile-singer .hpost:last-child {
        border-bottom: none;
    }
/*==============================
========= Top bar section=======
================================*/
#navigation {
    background-color: #515151;
}

    #navigation .navbar .topbar {
        background: #000;
    }

#topbar {
    float: none;
    position: relative;
}

.navbar-brand {
    height: 60px;
    padding: 9px 15px;
    background: #ff5500;
}

.navbar-mobile {
    background: #ff5500;
}

    .navbar-mobile .navbar-brand {
        padding: 14px 15px;
    }

.homepage .navbar-brand {
    padding: 13px 15px;
}

#search-box {
    float: left;
    width: 500px;
    margin-top: 10px;
    margin-left: 50px;
}

    #search-box input {
        background: #a1a1a1;
        border: none;
        color: #000;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
    }

    #search-box .input-group-addon {
        background: #a1a1a1;
        border: none;
        color: #717171;
        border-top-left-radius: 14px;
        border-bottom-left-radius: 14px;
    }

    #search-box input::-webkit-input-placeholder {
        color: #ddd !important;
    }

    #search-box input:-moz-placeholder { /* Firefox 18- */
        color: #ddd !important;
    }

    #search-box input::-moz-placeholder { /* Firefox 19+ */
        color: #ddd !important;
    }

    #search-box input:-ms-input-placeholder {
        color: #ddd !important;
    }

.advance-search {
    background: #a6a6a6;
}

.advance-search-content {
    padding: 30px 0px 20px 0px;
    background: url('../img/search-icon.png') no-repeat 0 50%;
    background-size: 300px;
}

.advance-search .search-title {
    font-size: 26px;
    color: #fff;
}

.advance-search select {
    width: 100%;
}

.advance-search .form-control, .advance-search .select2-container, .advance-search button {
    margin-bottom: 10px;
}

.advance-search .select2-container--default .select2-selection--multiple {
    background: #a6a6a6;
    border-color: #ddd;
    border-radius: 20px;
}

.advance-search .select2-container--default .select2-search--inline .select2-search__field::-webkit-input-placeholder {
    color: #ddd !important;
}

.advance-search .select2-container--default .select2-search--inline .select2-search__field:-moz-placeholder { /* Firefox 18- */
    color: #ddd !important;
}

.advance-search .select2-container--default .select2-search--inline .select2-search__field::-moz-placeholder { /* Firefox 19+ */
    color: #ddd !important;
}

.advance-search .select2-container--default .select2-search--inline .select2-search__field:-ms-input-placeholder {
    color: #ddd !important;
}

.advance-search .btn.btn-primary {
    border: none;
}

.search-result-title {
    font-size: 26px;
    font-weight: bold;
    color: #000;
    padding-bottom: 30px;
}

.search-result-title-more {
    font-size: 14px;
    font-weight: normal;
    color: #939393;
}

#topbar-right {
    float: right;
}

#date-time,
#account {
    display: inline-flex;
    margin-left: 20px;
    padding-left: 20px;
    line-height: 58px;
    color: #525b6e;
    font-size: 14px;
}

.img-avatar-wrapper {
    display: inline-block;
    width: 40px;
}

.img-avatar {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    display: inline-block;
    margin-top: -20px;
}

    .img-avatar img {
        width: 30px;
    }

#topbar-right #account img {
    max-width: 61px;
}


.searchNlogin {
    float: right;
    position: relative;
    margin-right: -15px;
}

    .searchNlogin li {
        float: left;
        border-left: 1px solid #ebecee;
        padding: 15px 20px;
        color: #aeaeae;
        cursor: pointer;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

        .searchNlogin li:hover {
            color: #525b6e;
        }


.search {
    position: absolute;
    top: 0;
    z-index: 10;
    right: 110px;
    width: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.expanded .search {
    opacity: 1;
    width: 300px;
}

.search-form {
    padding-left: 0;
    height: 52px;
    font-size: 14px;
    font-weight: 300;
    outline: none;
    width: 100%;
    border: 1px solid #eee;
    background-color: #f2f3f5;
    border-right: 0;
}

.expanded .search-form {
    padding-left: 15px;
}

.expanded .search-icon {
    background-color: #f2f3f5;
    border-left-color: #f2f3f5;
    color: #525b6e;
}

/*==============================
========= Navigation ===========
================================*/

.navbar-toggle {
    border: 1px solid #fff;
    margin-top: 13px;
}

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

.navbar-toggle,
.navbar-fixed-top .navbar-toggle {
    border: none;
}

    .navbar-toggle .icon-bar,
    .navbar-fixed-top .navbar-toggle .icon-bar {
        background-color: #fff;
        width: 30px;
        margin-bottom: 1px;
    }

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    border-color: inherit;
    background-color: inherit;
}

.badge {
    margin-left: 5px;
    font-size: 11px;
}

#navigation .navbar {
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


#mainmenu {
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 0;
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
}

    #mainmenu .dropdown-menu > li > a {
        font-size: 14px;
        text-transform: capitalize;
        padding: 5px 20px;
    }

    #mainmenu .dropdown-menu > li > .dropdown-menu > li > a {
        padding: 5px 40px;
    }

.dropdown-menu > li > a {
    color: #aeaeae;
}


.navbar {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}


#mainmenu > ul > li.active {
}

    #mainmenu > ul > li.active a {
    }

#mainmenu a:hover, #mainmenu li.active a:hover {
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

#tabMusicTV {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

    #tabMusicTV li.active {
        background: #222;
    }

        #tabMusicTV li.active a {
            color: #ff5500;
        }

            #tabMusicTV a:hover, #tabMusicTV li.active a:hover {
                color: #fff;
                background: #333;
            }

.vov-btn .btn:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

.vov-btn .btn:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.vov-btn .btn-default {
    background: #fff;
    border-color: #e1e1e1;
}

    .vov-btn .btn-default:hover {
        background: #efefef;
        border-color: #e1e1e1;
    }

.vov-btn .btn-primary {
    background: #ff5500;
    border-color: #e1e1e1;
    color: #fff;
}

.section-bxh table.table tr td:first-child {
    font-size: 24px;
}

.section-bxh table.table tr td:last-child {
    text-align: right;
}

.section-bxh table.table tr:first-child td {
    border-top: none;
}

.section-bxh table.table td {
    vertical-align: middle;
    font-size: 14px;
    color: #757575;
}

    .section-bxh table.table td.active {
        color: #ff5500;
    }

    .section-bxh table.table td a {
        font-size: 16px;
        font-weight: 600;
    }

table.table {
    margin-bottom: 0;
}

.section-table table.table td {
    padding-top: 12px;
    padding-bottom: 12px;
}

    .section-table table.table td a {
        font-weight: 600;
    }

    .section-table table.table td p {
        font-size: 14px;
        line-height: 14px;
        color: #757575;
    }

.section-table table.table tr:first-child td {
    border-top: none;
}

.section-table table.table tr td:first-child {
    width: 140px;
    padding-left: 0;
}

.section-doitac .doitac {
    display: block;
    width: 100%;
    height: 92px;
    overflow: hidden;
    background-color: #fff;
    background-repeat: repeat-y;
    background-position: 0px 0px;
    background-size: 232px;
    border: 1px solid #d7d7d7;
}

    .section-doitac .doitac:hover {
        background-position: 0px 92px;
    }

footer {
    background: #363636;
    padding: 20px 0;
    color: #e4e4e4;
}

    footer p {
        font-size: 14px;
        padding: 0;
        line-height: 14px;
    }

.brand-music {
    font-size: 20px;
    position: relative;
    top: 10px;
}

.brand-info {
    padding: 20px 0px 0px 0px;
}

.social-icons a i {
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 18px;
}

.social-icons a .fa-facebook {
    background-color: #4968a9;
}

.social-icons a .fa-twitter {
    background-color: #00aeef;
}

.social-icons a .fa-google-plus {
    background-color: #d9232d;
}

.social-icons a .fa-linkedin {
    background-color: #0072bc;
}

.social-icons a .fa-youtube {
    background-color: #ed1c24;
}

.social-icons a .fa-pinterest {
    background-color: #b91d23;
}

.social-icons a:hover .fa-facebook,
.author-listing .single-author .social-icons a:hover .fa-facebook,
.author-social .social-icons a:hover .fa-facebook {
    background-color: #456098;
}

.social-icons a:hover .fa-twitter,
.author-listing .single-author .social-icons a:hover .fa-twitter,
.author-social .social-icons a:hover .fa-twitter {
    background-color: #039cd5;
}

.social-icons a:hover .fa-google-plus,
.author-listing .single-author .social-icons a:hover .fa-google-plus,
.author-social .social-icons a:hover .fa-google-plus {
    background-color: #c2242c;
}

.social-icons a:hover .fa-linkedin,
.author-listing .single-author .social-icons a:hover .fa-linkedin,
.author-social .social-icons a:hover .fa-linkedin {
    background-color: #025e9a;
}

.social-icons a:hover .fa-youtube,
.author-listing .single-author .social-icons a:hover .fa-youtube,
.author-social .social-icons a:hover .fa-youtube {
    background-color: #ce1b22;
}

.social-icons a:hover .fa-pinterest,
.author-listing .single-author .social-icons a:hover .fa-pinterest,
.author-social .social-icons a:hover .fa-pinterest {
    background-color: #b91d23;
}

/*OWL*/
.owl-carousel-wrapper {
    margin-right: -19px;
}

.owl-item {
    padding-right: 20px;
}

.owl-carousel-gen-single .owl-item {
    padding-right: 0px;
}

.owl-carousel-if-1k-mobile .owl-item {
    width: 50% !important;
    float: left;
}

.owl-controls .owl-pagination {
    float: right;
    position: relative;
    padding-top: 10px;
}

.owl-buttons {
    float: right;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
}

    .owl-buttons .owl-prev, .owl-buttons .owl-next {
        float: left;
        border: 1px solid #ddd;
        background: #fff;
        padding: 3px 8px 1px;
        margin-right: 2px;
    }

.owl-controls .owl-pagination .owl-page {
    float: left;
    padding: 0px 5px;
    border: 1px solid #ddd;
    margin-left: 3px;
}

    .owl-controls .owl-pagination .owl-page.active {
        border: 1px solid #ff5500;
    }

.owl-carousel-gen-nav .owl-buttons {
    position: absolute;
    top: -53px;
    right: 8px;
    color: #999;
}

.border-bottom {
    border-bottom: #d7d7d7 1px solid;
}

.search-mobile {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    top: 60px;
    padding: 10px 10px;
}

#main-menu-mobile {
    position: absolute;
    width: 100%;
    background-color: rgba(15,22,44,0.9);
    z-index: 1;
    overflow-x: hidden;
    top: 60px;
}

    #main-menu-mobile ul.navbar-nav:last-child {
        margin-bottom: 20px;
    }

        #main-menu-mobile ul.navbar-nav:last-child::before {
            content: ' ';
            border-top: 1px solid rgba(255,255,255,0.3) !important;
            margin: 5px 15px;
            display: block;
        }

    #main-menu-mobile ul.navbar-nav {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        text-align: right;
    }

    #main-menu-mobile ul li a {
        display: block;
        font-size: 26px;
        line-height: 50px;
    }

    #main-menu-mobile .mega-menu {
        padding-right: 15px !important;
    }

        #main-menu-mobile .mega-menu ul {
            margin-bottom: 10px !important;
            text-align: right;
        }

            #main-menu-mobile .mega-menu ul > a {
                line-height: 38px;
                color: #ff5500;
                font-size: 22px;
                list-style-type: none;
            }

                #main-menu-mobile .mega-menu ul > a::after {
                    font-family: "FontAwesome";
                    font-size: 8px;
                    position: relative;
                    top: -3px;
                    margin-left: 4px;
                }

            #main-menu-mobile .mega-menu ul li > a {
                line-height: 38px;
                color: #ff5500;
                font-size: 20px;
                margin-right: 15px;
            }

            #main-menu-mobile .mega-menu ul a:hover {
                color: #fff;
            }

            #main-menu-mobile .mega-menu ul li > a::after {
                font-family: "FontAwesome";
                content: " \f111";
                font-size: 8px;
                position: relative;
                top: -3px;
                margin-left: 4px;
            }

    #main-menu-mobile .account-icon {
        position: relative;
    }


        #main-menu-mobile .account-icon.active::after {
            font-family: "FontAwesome";
            content: "\f111";
            font-size: 12px;
            position: absolute;
            color: #ff5500;
            top: -17px;
            left: 17px;
            z-index: 1;
        }

.music-nav {
    line-height: 35px;
}

    .music-nav li.active a {
        font-weight: bold;
        color: #ff5500;
    }

.fa-btn {
    color: #959595;
    font-size: 20px;
    margin-left: 10px;
}

    .fa-btn.active {
        color: #ff5500;
    }

.breadcrumb {
    padding-left: 0;
    margin-bottom: 10px;
}

.nav-tabs > li {
    margin-bottom: 0px;
}

.nav-tabs {
    background: #e5e5e5;
    border: none;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        color: #555;
        cursor: default;
        background: none;
        border: none;
        border-bottom: 2px solid #ff5500;
    }
/*catalogue*/
.catalogue-wrapper {
    margin-right: -20px;
}

.catalogue-item {
    padding-right: 20px;
    width: 100%;
    float: left;
    overflow-y: hidden;
    height: 210px;
}
/*music*/
.music-wrapper {
    margin-right: -20px;
}

.music-item {
    padding-right: 20px;
    width: 100%;
    float: left;
    overflow-y: hidden;
    height: 210px;
}

.music-thumb {
    height: auto;
    overflow: hidden;
    background-position-y: 50%;
    background-size: 100%;
    -webkit-box-shadow: inset 0px 0px 150px 250px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 150px 250px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 150px 250px rgba(0,0,0,0.5);
}

.music-title h1 {
    font-size: 26px;
}

.music-info p {
    padding: 0;
    margin: 0;
}

.btn-link {
    color: #757575;
    font-weight: bold;
    padding: 0;
}

.singer p {
    font-size: 13px;
}

.singer-thumb {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.singer-info {
    float: left;
}

.checkbox-slider--b input + span:before {
    box-shadow: none !important;
}

.checkbox-slider--b input + span {
    margin-right: -20px;
}

@media (max-width: 999px) {
    .catalogue-item {
        width: 33.33%;
    }

    .music-item {
        width: 33.33%;
        height: 300px;
    }

    .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: rgba(0,0,0,0.05);
    }

    #navigation .navbar-header {
        float: none;
    }

    #navigation .navbar-toggle {
        display: block;
        color: #fff;
    }

    #navigation .search-btn {
        margin-right: 30px;
        width: 60px;
        display: block;
        text-align: center;
    }

        #navigation .search-btn i.fa {
            position: absolute;
            top: 7px;
            font-size: 20px;
        }

    #navigation .navbar-collapse.collapse {
        display: none !important;
    }

        #navigation .navbar-collapse.collapse.in {
            display: block !important;
            overflow-y: auto !important;
        }

    /*Design for max-width: 1200px*/
    #navigation .navbar-collapse,
    #navigation .navbar-collapse .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    #main-slider {
        margin-left: -15px;
        margin-right: -15px;
    }

    body {
        overflow-x: hidden;
    }
}

@media (max-width: 749px) {
    .catalogue-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {

    .catalogue-item {
        width: 20%;
    }

    .music-item {
        width: 16.66%;
    }

    .border-left {
        border-left: #d7d7d7 1px solid;
    }

    .border-right {
        border-right: #d7d7d7 1px solid;
    }
    /*Navbar Collapse*/
    #navigation .navbar-collapse {
        padding: 0;
    }

    #navigation .navbar-nav li, .dropdown {
        position: relative;
    }

    /*Navbar*/
    #navigation .navbar-nav {
        top: 2px;
    }

    /*Dropdown Menu*/
    #navigation .dropdown-menu {
        padding: 15px 0;
        border-top: 1px solid;
        min-width: 160px;
        border-radius: 0;
        z-index: 9999 !important;
        margin-top: -2px !important;
        background-color: #fff;
    }
        /*Dropdown Menu*/
        #navigation .dropdown-menu > li > .dropdown-menu {
            left: 95%;
            top: 0px;
        }

    .navbar-brand {
        height: 100px;
        padding-top: 34px;
        padding-left: 16px;
        padding-right: 16px;
        position: absolute;
        left: 0;
    }

    #tabMusicTV {
        margin-left: 130px;
    }

        #tabMusicTV a {
            padding: 19px;
        }

    #mainmenu {
        margin-left: 130px;
    }

        #mainmenu > ul > li a {
            padding: 11px;
            font-weight: 400;
            margin-right: 40px;
        }

        #mainmenu .dropdown-menu > ul > a {
            padding-left: 0px !important;
        }

        #mainmenu > ul > li.active {
        }

            #mainmenu > ul > li.active a {
                -webkit-box-shadow: inset 0px -2px 0px 0px #ff5500;
                -moz-box-shadow: inset 0px -2px 0px 0px #ff5500;
                box-shadow: inset 0px -2px 0px 0px #ff5500;
            }

            #mainmenu > ul > li:hover > a, #mainmenu > ul > li.active:hover a {
                color: #aeaeae;
                -webkit-transition: none;
                -moz-transition: none;
                -o-transition: none;
                transition: none;
                -webkit-box-shadow: inset 0px -2px 0px 0px #ff5500;
                -moz-box-shadow: inset 0px -2px 0px 0px #ff5500;
                box-shadow: inset 0px -2px 0px 0px #ff5500;
            }

        #mainmenu .mega-menu {
            margin-top: 0px !important;
            background-color: rgba(15,22,44,0.8);
            padding-bottom: 20px;
            min-width: 800px;
        }

            #mainmenu .mega-menu ul {
                margin-left: 0;
                display: block;
                float: left;
                margin-left: 20px;
            }

            #mainmenu .mega-menu li a {
                display: block;
                padding: 5px 0;
                text-transform: none;
            }

            #mainmenu .mega-menu .entry-thumbnail {
                margin-top: 25px;
            }

    .account-icon {
        font-size: 18px;
        color: #b7b7b7;
        margin-right: 30px;
        position: relative;
        line-height: 16px;
    }

    a:hover .account-icon {
        color: #fff;
    }

    .account-icon.active::after {
        font-family: "FontAwesome";
        content: "\f111";
        font-size: 9px;
        position: absolute;
        color: #ff5500;
        top: -2px;
        left: 14px;
        z-index: 1;
    }

    .advance-search .form-control, .advance-search .select2-container, .advance-search button {
        margin-bottom: 20px;
    }
}
.pagination-wrapper .paging_bootstrap .dropup
{
    position:relative ;
    bottom:33px;
    margin-right:3px;
}
