﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model ModuleModel
<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <input type="hidden" class="form-control" value="@Model.Module.ID" id="ID" name="ID">
    <div class="container-fluid">
        <div class="form-group">
            <label for="definpu">@DACS.T("Mã module")</label>
            @Html.CusTextBox("CrModuleCode", "ModuleCode", Model.Module.ModuleCode, DACS.T("Mã module"), DACS.T("Mã module"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Tên module")</label>
            @Html.CusTextBox("CrName", "Name", Model.Module.Name, DACS.T("Tên"), DACS.T("Tên"), true)
        </div>

        <div class="form-group">
            <label for="definpu">@DACS.T("Nhóm module")</label>
            @Html.CusTextBox("CrName", "Name", Model.Module.Name, DACS.T("Nhóm module"), DACS.T("Nhóm module"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Mô tả")</label>
            @Html.CusTextArea("CrDescribe", "Describe", Model.Module.Describe, DACS.T("Mô tả"), DACS.T("Mô tả"), 5)
        </div>
        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>