﻿@using Common.Dac
@using ShopRetailModel.Models
@model ContentCategroryModel
@{
    var oCategoryRoot = Model.CategoryRoot ?? new Category();
    var ovContents = Model.ContentViews ?? new List<ProductViewModel>();
    var oCategories = Model.Categories ?? new List<Category>();
    var random = DateTime.Now.Ticks + "_";
}
<div class="wpb_column vc_column_container td-pb-span6">
    <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="td_block_wrap td_block_11  td_with_ajax_pagination td-pb-border-top td_block_template_1">
                <div class="td-block-title-wrap">
                    <h4 class="block-title"><a class="td-pulldown-size" href="@DACS.ReUrl("/theloai/{0}.html",DACS.StringAlias(oCategoryRoot.Name, oCategoryRoot.ID))">@oCategoryRoot.Name</a></h4>
                </div>
                <div class="td_block_inner">
                    @if (!DACS.IsEmpty(ovContents))
                    {
                        foreach (var item in ovContents)
                        {
                            <div class="td-block-span12">
                                <div class="td_module_10 td_module_wrap td-animation-stack td-meta-info-hide">
                                    <div class="td-module-thumb">
                                        <a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name, item.ID))" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="150" sizes="(max-width: 218px) 100vw, 218px" src="@DACS.StgPath(item.ThumbPath)" title="xxx" width="218"></a>
                                    </div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name, item.ID))" rel="bookmark" title="xxx">@DACS.Summary(item.Name, 15)</a></h3>
                                        <div class="td-module-meta-info"></div>
                                        <div class="td-excerpt">
                                            @DACS.Summary(item.Describe, 20)
                                        </div>
                                    </div>
                                </div>
                            </div><!-- ./td-block-span12 -->
                        }
                    }
                </div>
            </div><!-- ./block -->
        </div>
    </div>
</div>