﻿@using Common.Dac
@using ShopRetailModel.Models
@model ContentCategroryModel
@{
    var oCategoryRoot = Model.CategoryRoot ?? new Category();
    var ovContents = Model.ContentViews ?? new List<ProductViewModel>();
    var oCategories = Model.Categories ?? new List<Category>();
    var random = DateTime.Now.Ticks + "_";
}
<div class="td_block_wrap td_block_15 td_with_ajax_pagination td-pb-border-top td_block_template_1">
    <div class="td-block-title-wrap">
        <h4 class="block-title"><a class="td-pulldown-size" href="#">@oCategoryRoot.Name</a></h4>
        <div class="td-pulldown-syle-default td-subcat-filter" id="">
            <ul class="td-subcat-list" id="thehinhnam_slider">
                @{
                    foreach (var item in oCategories)
                    {
                        <li class="td-subcat-item">
                            <a href="#" class="td-subcat-link td-cur-simple-item" id="#@(random+item.ID)">@item.Name</a>
                        </li>
                    }
                }
            </ul>
            <div class="td-subcat-dropdown">
                <div aria-haspopup="true" class="td-subcat-more">
                    <span>Hơn</span><i class="td-icon-read-down"></i>
                </div>
                <ul class="td-pulldown-filter-list"></ul>
            </div>
        </div>
    </div>
    @{
        var first = oCategories.FirstOrDefault();
        foreach (var item in oCategories)
        {
            var oContentforCategories = ovContents.Where(t => t.IDCategory == item.ID).ToList();
            if (!DACS.IsEmpty(oContentforCategories))
            {
                <div class="td_block_inner td-column-3" style="display : @(item.ID == first.ID ? "block" : "none")" id="@(random + item.ID)">
                    <div class="td-block-row">
                        <div class="custom_row">
                             @foreach (var it in oContentforCategories)
                                {
                                    <div class="item">
                                        <div class="td-block-span4">
                                            <div class="td_module_mx4 td_module_wrap td-animation-stack td-meta-info-hide">
                                                <div class="td-module-image">
                                                    <div class="td-module-thumb">
                                                        <a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(it.Name,it.ID))" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="150" sizes="(max-width: 218px) 100vw, 218px" src="@DACS.StgPath(it.ThumbPath)" title="xxx" width="218"></a>
                                                    </div><a class="td-post-category" href="@DACS.ReUrl("/theloai/{0}.html",DACS.StringAlias(item.Name,item.ID))">@DACS.Summary( item.Name)</a>
                                                </div>
                                                <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(it.Name,it.ID))" rel="bookmark" title="xxx">@DACS.Summary(it.Name, 10)</a></h3>
                                            </div>
                                        </div><!-- ./td-block-span4 -->
                                    </div>
                                }
                        </div>
                    </div><!--./row-fluid-->
                    <div class="td-next-prev-wrap">
                        <a href="#" class="td-ajax-prev-page" id="">
                            <i class="td-icon-font td-icon-menu-left"></i>
                        </a>
                        <a href="#" class="td-ajax-next-page" id="">
                            <i class="td-icon-font td-icon-menu-right"></i>
                        </a>
                    </div>
                </div>
            }
        }
    }
</div>