﻿@using Common.Dac
@using ShopDetail.Models
@model ProductModel
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-top bordered-darkorange">
                <span class="widget-caption">@Model.Name</span>
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form action="@DACS.ReUrl(DACS.admin +"/san-pham/cap-nhat.html","")" class="" method="post" accept-charset="utf-8">
                        <input type="hidden" class="form-control" value="@Model.ID" id="ID" name="ID">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Mã định danh")</label>
                                    <input type="text" class="form-control" id="Code" value="@Model.Code" name="Code" placeholder="@DACS.T("Mã định danh")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Tên  bài viết")</label>
                                    <input type="text" class="form-control" id="Name" rows="3" value="@Model.Name" name="Name" placeholder="@DACS.T("Tên  bài viết")" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Mô tả")</label>
                            <textarea class="form-control" id="Describe" rows="3" value="@Model.Describe" name="Describe" placeholder="@DACS.T("Mô tả  bài viết")">@Model.Describe</textarea>
                        </div>
                        <div class="form-group">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <span class="widget-caption">@DACS.T("Chi tiết")</span>
                                    <div class="widget-buttons">
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <textarea class="note-editor" name="Body" id="Body">@Html.Raw(Model.Body)</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Danh mục  bài viết")</label>
                            <select class="productName form-control autoselect2" name="IDCategory">
                                @Html.Raw(ViewBag.Category)
                            </select>
                        </div>
                        <div class="form-group hidden">
                            <label for="definpu">@DACS.T("Thể loại  bài viết")</label>
                            <div class="form-inline">
                                @if (!Utils.IsEmpty<Event>(Model.Events))
                                {
                                    var eventselected = !DACS.IsEmpty(Model.IDEvent) ? DACS.GetInts(Model.IDEvent.Split(',').ToList()) : new int[0];
                                    foreach (var item in Model.Events)
                                    {
                                        var isseled = eventselected.Contains(item.ID);
                                        <div class="checkbox">
                                            <label>
                                                <input checked="@isseled" name="IDEvent" value="@item.ID" type="checkbox">
                                                <span class="text">@DACS.T(item.Name) </span>
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label for="definpu">@DACS.T("Tiêu điểm  bài viết")</label>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input checked="@Model.IsSale" name="IsSale" value="1"  type="checkbox">
                                        <span class="text">@DACS.T("Hàng đang giảm giá") </span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input checked="@Model.IsNew" name="IsNew" value="1"  type="checkbox">
                                        <span class="text">@DACS.T("Hàng mời về ") </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group searchdropbox" data-npath="FilePathProducts" data-multi="1" data-list=".List_image" data-item="#temp_img_item">
                            <label for="definpu">@DACS.T("Ảnh  bài viết")</label>
                            <div class="List_image">
                                <div class="img_item img_item_choose">
                                    <img class="img_item" src="/admin/assets/img/drap.jpg" />
                                </div>
                                @if (!DACS.IsEmpty(Model.ThumbPath))
                                {
                                    <div class="img_item_add img_item">
                                        <button class="btn close btnclose_img">X</button>
                                        <img alt="@Model.ThumbName" class="img-responsive" src="@DACS.StgPath(Model.ThumbPath)" />
                                        <input type="hidden" class="PathImage" value="@Model.ThumbPath" name="FilePathProducts" />
                                    </div>
                                }
                                <input type="file" class="inputfile hidden" />
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="row hidden">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Giá nhập")</label>
                                    <input type="text" class="form-control" id="PriceImport" value="@Model.PriceImport" name="PriceImport" placeholder="@DACS.T("Giá nhập")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Giá bán lẻ (thấp nhất để có lãi)")</label>
                                    <input type="text" class="form-control" id="PriceRetail" rows="3" value="@Model.PriceRetail" name="PriceRetail" placeholder="@DACS.T("Giá bán")" />
                                </div>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Giá sale")</label>
                                    <input type="text" class="form-control" id="PriceSale" value="@Model.PriceSale" name="PriceSale" placeholder="@DACS.T("Giá sale")">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Giá khuyến mãi")</label>
                                    <input type="text" class="form-control" id="PricePromotion" rows="3" value="@Model.PricePromotion" name="PricePromotion" placeholder="@DACS.T("Giá bán khuyến mãi")" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="definpu">@DACS.T("Phẩn trăm sale")</label>
                                    <input type="text" class="form-control" id="PercetPromotion" rows="3" value="@Model.PercetPromotion" name="PercetPromotion" placeholder="@DACS.T("Phần trăm khuyến mãi")" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group searchdropbox" data-npath="FilePaths" data-multi="2" data-list=".List_image" data-item="#temp_img_item">
                            <label for="definpu">@DACS.T("Danh sách ảnh  bài viết")</label>
                            <div class="List_image">
                                <div class="img_item img_item_choose">
                                    <img class="img_item" src="/admin/assets/img/drap.jpg" />
                                </div>
                                @if (!Utils.IsEmpty<StgFiles>(Model.Files))
                                {
                                    foreach (var item in Model.Files)
                                    {
                                        <div class="img_item_add img_item">
                                            <button class="btn close btnclose_img">X</button>
                                            <img alt="@item.ThumbName" class="img-responsive" src="@DACS.StgPath(item.ThumbPath)" />
                                            <input type="hidden" class="PathImage" value="@item.ThumbPath" name="FilePaths" />
                                        </div>
                                    }
                                }
                                <input type="file" class="inputfile hidden" />
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <button class="btn btn-labeled btn-palegreen">
                                <i class="btn-label glyphicon glyphicon-ok"></i>@Common.Dac.DACS.T("Cập nhật")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>