


.md-account strong {
    font-weight: 500;
}

.md-account a, .md-account a:hover, .md-account a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.md-account h1, .md-account h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

.md-account h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

.md-account img {
    max-width: 100%;
}

::-moz-selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}


.md-account .btn-link-1 {
    display: inline-block;
    height: 40px;
    margin: 5px;
    padding: 10px 20px 0 20px;
    background: #19b9e7;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.md-account btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.md-account .btn-link-1.btn-link-1-facebook {
    background: #4862a3;
}

.md-account .btn-link-1.btn-link-1-twitter {
    background: #55acee;
}

.md-account .btn-link-1.btn-link-1-google-plus {
    background: #dd4b39;
}

.md-account .btn-link-1 i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
}

.md-account .btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .md-account .btn-link-2:hover, .btn-link-2:focus,
    .md-account .btn-link-2:active, .btn-link-2:active:focus {
        outline: 0;
        opacity: 0.6;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
    }


/***** Top content *****/

.md-account .inner-bg {
    padding: 60px 0 80px 0;
}

.md-account .top-content .text {
    color: #fff;
}

    .md-account .top-content .text h1 {
        color: #fff;
    }

.top-content .description {
    margin: 20px 0 10px 0;
}

.md-account .top-content .description p {
    opacity: 0.8;
}

.md-account .top-content .description a {
    color: #fff;
}

    .md-account .top-content .description a:hover,
    .md-account .top-content .description a:focus {
        border-bottom: 1px dotted #fff;
    }

.md-account .form-box {
    /*margin-top: 70px;*/
}

.md-account .form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.md-account .form-top-left {
    float: left;
    width: 75%;
    /*padding-top: 25px;*/
}

    .md-account .form-top-left h3 {
        margin-top: 0;
    }

.md-account .form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.md-account .form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

    .md-account .form-bottom form textarea {
        height: 100px;
    }

    .md-account .form-bottom form button.btn {
        width: 100%;
    }

    .md-account .form-bottom form .input-error {
        border-color: #19b9e7;
    }

/*.md-account .social-login {
    margin-top: 35px;
}*/

    .md-account .social-login h3 {
        color: #fff;
    }

.md-account .social-login-buttons {
    margin-top: 25px;
}

.md-account .middle-border {
    min-height: 300px;
    margin-top: 170px;
    border-right: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

.md-account footer {
    padding-bottom: 70px;
    color: #fff;
}

    .md-account footer .footer-border {
        width: 200px;
        margin: 0 auto;
        padding-bottom: 30px;
        border-top: 1px solid #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }

    .md-account footer p {
        opacity: 0.8;
    }

    .md-account footer a {
        color: #fff;
    }

        .md-account footer a:hover, footer a:focus {
            color: #fff;
            border-bottom: 1px dotted #fff;
        }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {
    .md-account .modal-content {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .md-account .modal-content {
        width: 80%;
    }
}

@media (max-width: 767px) {

    .md-account .middle-border {
        min-height: auto;
        margin: 65px 30px 0 30px;
        border-right: 0;
        border-top: 1px solid #fff;
        border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
}

@media (max-width: 415px) {

    .md-account h1, h2 {
        font-size: 32px;
    }
}

.md-account .modal-backdrop, .md-zindex .modal-backdrop {
    z-index: 0;
}

@media (min-width: 767px) {
    .md-account .md-small .modal-content {
        width: 80%;
    }
}


a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
    border-right: none !important;
}

.bf-login .dropdown-menu li a {
    color: black;
}

.bf-login .dropdown-menu li i {
    margin-right: 10px;
}

@media (min-width: 1000px) {
    .bf-login .dropdown-menu {
        padding: 0px !important;
    }
}

.bf-login .fa {
    font-size: 18px;
}


/*Quan ly tai  khoan*/
.box_group_right {
    float: left;
    margin: 0 0 0 10px;
}

    .box_group_right .box_list_item_video_album {
        float: left;
        padding: 0px 0px 20px 10px;
        border: 1px solid #d9d9d9;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top: 15px;
        width: 100%;
        background-color: #fff;
    }

        .box_group_right .box_list_item_video_album ul.usercp_list_playlist {
            float: left;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_video li:nth-child(1) {
            margin: 0;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_video li {
            float: left;
            width: 100px;
            height: 56px;
            text-align: center;
            margin: 0 0 0 20px;
            padding: 0px;
            border: 1px solid #d9d9d9;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_playlist li a.sum_cout_pl .count-number {
            color: #0689ba;
            display: block;
            font-size: 18px;
            margin: 28px 0 0 0;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_playlist li a.sum_cout_pl {
            float: left;
            width: 100px;
            height: 100px;
            text-align: center;
            background: #e5e5e5;
            vertical-align: middle;
            line-height: 20px;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_video li a.sum_cout_pl {
            float: left;
            width: 100px;
            height: 56px;
            text-align: center;
            background: #e5e5e5;
            vertical-align: middle;
            line-height: 20px;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_playlist li img {
            float: left;
            width: 100px;
        }

        .box_group_right .box_list_item_video_album ul.usercp_list_video li a.sum_cout_pl .count-number {
            color: #0689ba;
            display: block;
            font-size: 18px;
            margin: 10px 0 0 0;
        }

ul.usercp_list_video {
    float: left;
    margin: 0 !important;
}

ul.usercp_list_playlist li {
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
}

ul.usercp_list_video li {
    padding-left: 10px;
}

    ul.usercp_list_video li img {
        float: left;
        width: 100px;
    }

.txt_sub_group {
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
}


.mn-account .box_detail_info {
    margin-top: 10px;
}

    .mn-account .box_detail_info .txt_sub_group {
        width: 100%;
        padding: 0 0 10px 0;
        font-size: 15px;
        font-weight: 700;
    }

    .mn-account .box_detail_info .box_user_action {
        float: right;
        padding: 0px 0px;
        width: auto;
        margin: 0px 0 0 0;
    }

    .mn-account .box_detail_info p {
        color: #3F4750;
        line-height: 18px;
        width: 100%;
        font-size: 13px;
    }

.border-box {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 15px 20px 15px 20px;
    background-color: #fff;
}

.img-avatar-up {
    height: 80px;
}

.btn-change {
    font-size: 12px;
    position: relative;
    bottom: -25px;
}

.infor-account {
    padding-top: 15px;
    width: 70%;
}

.box_right_user h2 {
    padding-top: 15px;
    color: #2582be;
    display: block;
    width: auto;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 36px;
    margin: 0 0 10px 0;
}

.infor-account h4 {
    padding-left: 10px;
}

.md-account label {
    display: inline-block;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 0px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}

.md-account .btn-change, .md-zindex .btn-blue {
    background-color: #2582be;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 0px;
}

.list-group {
    background-color: #fff;
}

.table-play-list tr:hover .action-playlist {
    display: block;
}

.table-play-list tr:hover {
    background-color: #ddd;
}

td.action-playlist {
    display: none;
}

.tab-playlist-upload {
    padding-top: 15px;
}

.listen-count {
    position: absolute;
    right: 50%;
    top: 35%;
    min-width: 100px;
}

#md-add-playlist h2 {
        font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }
.center{
    background-color: #fff;
    border-radius: 3px;
    /*box-shadow: 0 1px 4px 2px #039cd5;*/
    color: #000;
    display: block;
    left: calc(((100%) - 600px) / 2);
    padding: 10px;
    width: 600px;
    margin: 10px 0px;
}
@media (max-width: 480px) {
   .center{
    background-color: #fff;
    border-radius: 3px;
    /*box-shadow: 0 1px 4px 2px #039cd5;*/
    color: #000;
    display: block;
    left: calc(((100%) - 300px) / 2);
    padding: 10px;
    width: 300px;
    margin: 10px 0px;
}
}
.mr-top30{
    margin-top:30px;
}
.mr-bt40{
    margin-bottom:40px;
}