
.md-account input[type="text"], 
.md-account input[type="password"], 
.md-account input[type="email"], 
.md-account textarea, 
.md-account textarea.form-control {
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    width: 100%;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.md-account textarea, 
.md-account textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.md-account input[type="text"]:focus, 
.md-account input[type="password"]:focus, 
.md-account textarea:focus, 
.md-account textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.md-account input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
.md-account textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

.md-account input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
.md-account textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

.md-account input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
.md-account textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }



.md-account button.btn {
	height:40px;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
    /*background: #19b9e7;*/
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.md-account button.btn:hover { opacity: 0.6; color: #fff; }

.md-account button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.md-account button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

.md-account button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }
