.list-play .hpost {
    background: #ffffff;
    margin-bottom: 5px;
}

    .list-play .hpost:hover {
        background: #e9f3f7;
    }

    .list-play .hpost.active {
        background: #e9f3f7;
    }

    .list-play .hpost .post-title a {
        font-size: 14px;
        font-weight: 400;
        margin-left: 0px;
    }

    .list-play .hpost .post-content .post-title img {
        vertical-align: middle;
        margin: 0px 5px 9px 5px;
    }

    .list-play .hpost .post-content .post-title .stt {
        margin: 0px 5px 9px 5px;
    }

.control-play {
    margin-right: 5px;
    margin-left: 5px;
}

.music-player .control-music {
    padding-left: 1px;
    padding-right: 0px;
}

    .music-player .control-music .ctime, .cduration {
        font-size: 12px;
    }
/*css volumn*/
#music-volum {
height: 5px;
    position: relative;
    top: -12px;
    left: 25px;
    width: calc((100%) - 25px);
}

#music-process {
    height: 5px;
    position: relative;
    top: 10px;
}

.music-player .ui-slider-range {
    background: #4285f4;
}

.music-player .ui-slider-handle {
    border-radius: 3px;
    margin-top: -1px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    background: #4285f4;
    border:none;
}

.music-player .control-bar
{
    background-color: rgba(33, 42, 56, 0.94);
}
.music-player .control-bar i{
    color:#fff;
    margin-left:2px;
}
.music-player .control-bar .control-music span{
    color:#fff;
}
 