﻿<div class="td-footer-wrapper td-footer-template-4">
    <div class="td-container">
        <div class="td-pb-row">
            <div class="td-pb-span12"></div>
        </div>
        <div class="td-pb-row">
            <div class="td-pb-span12">
                <div class="td-footer-info">
                    <div class="footer-logo-wrap">
                        <a href="/"><img alt="xxx" src="/images/logo-the-hinh-channel.png" title="xxx"></a>
                    </div>
                    <div class="footer-text-wrap">
                        Thể Hình Channel là kênh hướng dẫn các bạn Gymer tập luyện thể hình chuyên nghiệp, với các giáo án thể hình kèm và các bài tập được hướng dẫn chi tiết, phù hợp với tất cả đối tượng từ cơ bản đến nâng cao. Chúc các bạn mau chóng có được Body đẹp cùng Thể Hình Channel.
                    </div>
                    <div class="footer-social-wrap td-social-style-2"></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Sub Footer -->
<div class="td-sub-footer-container">
    <div class="td-container">
        <div class="td-pb-row">
            <div class="td-pb-span7 td-sub-footer-menu"></div>
            <div class="td-pb-span5 td-sub-footer-copy">
                &copy; Vui lòng ghi nguồn khi sao chép tại Thể Hình Channel
            </div>
        </div>
    </div>
</div>