﻿@using Common.Dac;
@using ShopRetailModel.Models;
        @{ 
            var Headers = (List<Category> )ViewBag.Headers;
        }
@helper RenderList(List<Category> data, Category parent, string url)
{
var childs = data.Where(x => x.Parent == parent.ID).ToList();

if (!DACS.IsEmpty<Category>
    (childs))
{
        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children td-menu-item">
            <a href="@DACS.ReUrl("/the-loai/{0}.html",DACS.StringAlias(parent.Name ,parent.ID))">@parent.Name</a>
            <ul class="sub-menu">
                @foreach (var child in childs)
    {
        @RenderList(data, child, "");
    }
            </ul>
        </li>
}
else
{
        <li class="menu-item td-menu-item">
            <a href="@DACS.ReUrl("/the-loai/{0}.html",DACS.StringAlias(parent.Name ,parent.ID))">@parent.Name</a>
        </li>
}
}
<div class="td-header-wrap td-header-style-1">
    <div class="td-header-top-menu-full">
        <div class="td-container td-header-row td-header-top-menu">
            <div class="top-bar-style-1">
                <div class="td-header-sp-top-menu">
                    <div class="menu-top-container">
                        <ul class="top-header-menu" id="menu-top-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first td-menu-item td-normal-menu">
                                <a href="/ve-chung-toi">Về chúng tôi</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="/ban-quyen">Bản quyền</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="/privacy-policy">Privacy Policy</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="/lien-he-voi-chung-toi">Liên hệ với chúng tôi</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu">
                                <a href="/sitemap_index.xml">Sitemap</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom td-menu-item td-normal-menu">
                                <a href="/photoshop-online">Photoshop Online</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="td-header-sp-top-widget">
                    <span class="td-social-icon-wrap">
                        <a href="#" target="_blank" title="Facebook"><i class="td-icon-font td-icon-facebook"></i></a>
                    </span>
                    <span class="td-social-icon-wrap">
                        <a href="#" target="_blank" title="Youtube"><i class="td-icon-font td-icon-youtube"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="td-banner-wrap-full td-logo-wrap-full">
        <div class="td-container td-header-row td-header-header">
            <div class="td-header-sp-logo">
                <h1 class="td-logo"><a class="td-main-logo" href="/"><img alt="xxx" src="/images/logo-the-hinh.png" title="xxx"> <span class="td-visual-hidden">Thể Hình Channel &#8211; Hướng dẫn tập thể hình, tập gym, fitness</span></a></h1>
            </div>
            <div class="td-header-sp-recs">
                <div class="td-header-rec-wrap">
                    <div class="td-a-rec td-a-rec-id-header">
                        <a href="#"><img alt="xxx" src="/images/thuc-pham-tang-can-no-co-1.jpg" title="xxx"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="td-header-menu-wrap-full">
        <div class="td-header-menu-wrap td-header-gradient">
            <div class="td-container td-header-row td-header-main-menu">
                <div id="td-header-menu" role="navigation">
                    <div id="td-top-mobile-toggle">
                        <a href="#"><i class="td-icon-font td-icon-mobile"></i></a>
                    </div>
                    <div class="td-main-menu-logo td-logo-in-header">
                        <a class="td-mobile-logo td-sticky-disable" href="/"><img alt="xxx" src="/images/logo-the-hinh-channel.png" title="xxx"></a> <a class="td-header-logo td-sticky-disable" href="/"><img alt="xxx" src="images/logo-the-hinh.png" title="xxx"></a>
                    </div>
                    <div class="menu-home-container">
                        <ul class="sf-menu" id="menu-home-1">
                            @{
                                var oCategorys = Headers.Where(t => t.Parent == 0 && t.IsHeader).ToList();
                                if (!DACS.IsEmpty<Category>(oCategorys))
                                {
                                    foreach (var item in oCategorys)
                                    {
                                        @RenderList(Headers, item, "");
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="td-search-wrapper">
                    <div id="td-top-search">
                        <!-- Search -->
                        <div class="header-search-wrap">
                            <div class="dropdown header-search">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="td-header-search-button" role="button"><i class="td-icon-search"></i></a> <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="td-header-search-button-mob" role="button"><i class="td-icon-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-search-wrap">
                    <div class="dropdown header-search">
                        <div aria-labelledby="td-header-search-button" class="td-drop-down-search">
                            <form action="/" class="td-search-form" method="get">
                                <div class="td-head-form-search-wrap" role="search">
                                    <input autocomplete="off" id="td-header-search" name="s" type="text" value=""><input class="wpb_button wpb_btn-inverse btn" id="td-header-search-top" type="submit" value="Tìm kiếm">
                                </div>
                            </form>
                            <div id="td-aj-search"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>