﻿@using ShopDetail.Models
@using Common.Dac
@using Common
@model RoleModel

<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@DACS.ReUrl("/")">@DACS.T("Tổng quan")</a>
        </li>
        <li>
            <a href="@Model.Url">@DACS.T("Quyền")</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-yellow">
                    <span class="widget-caption"><i class="menu-icon fa fa fa-list-alt"></i>@ViewBag.Title</span>
                    <div class="widget-buttons">
                        <a data-toggle="maximize" href="#"><i class="fa fa-expand"></i></a>
                        <a data-toggle="collapse" href="#"><i class="fa fa-minus"></i></a>
                        <a data-toggle="dispose" href="#"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="widget-body no-padding">
                    <div class="dataTables_wrapper form-inline">
                        <div class="dataTables_filter">
                            <form class="quickSearch dataFilter" data-target="#divTable" action="@Model.Url" method="post" enctype="multipart/form-data">
                                <div class="col-md-2 col-sm-2">
                                    <label>
                                        @Html.CusTextBox("CrTerm", "Term", Model.SearchParam.Term, DACS.T("Từ khóa"), DACS.T("Nhập từ khóa"))
                                    </label>
                                </div>
                                <div class="col-md-2 dataFilter_Dropdown_Section col-sm-2">
                                    <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-search"></i><span class="hidden-search">@DACS.T("Tìm kiếm")</span> </button>
                                    <a title="Hủy tìm kiếm" class="btn btn-info " href="@Model.Url"><i class="fa fa-times" aria-hidden="true"></i><span class="hidden-search"> @DACS.T("Hủy")</span></a>
                                </div>
                                <input type="hidden" class="redirectauto" name="RedirectPath" value="#RedirectPath">
                            </form>
                        </div>
                        <div class="DTTT btn-group ">
                            <a title="Xóa" data-href="@DACS.ReUrl("/role/is-deletes.html")" class="btn btn-danger hidden actMultiTicks btndelete" aria-controls="searchable">
                                <i class="fa fa-trash no-margin" aria-hidden="true"></i> @DACS.T("Xóa")
                            </a>
                            <a title="Tạo mới"  data-target="#frmUpdate" href="@DACS.ReUrl(DACS.admin+"/role/create/{0}.html",DACS.StringAlias("parent",Model.SearchParam.Parent))" class="btn btn-info quickUpdate" tabindex="0" aria-controls="searchable">
                                <i class="fa fa-plus no-margin" aria-hidden="true"></i>@DACS.T("Tạo mới")
                            </a>
                        </div>
                        <div class="divContainer" id="divTable">
                            @Html.Partial("Roles")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




