﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model RoleModel
@{
    var parents = Model.Parents ?? new List<Role>();
}
<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <input type="hidden" class="form-control" value="@Model.Role.ID" id="ID" name="ID">
    <div class="container-fluid">
        <div class="form-group">
            <label for="definpu">@DACS.T("Tên")</label>
            @Html.CusTextBox("CrName", "Name", Model.Role.Name, DACS.T("Tên"), DACS.T("Tên"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Thuộc quyền")</label>
            @Html.CusDropdownList("CrParent", "Parent", DACS.T("Không thuộc quyền nào"), Model.Parents.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = (Model.Role.ID == 0 && Model.SearchParam.Parent > 0 ? Model.SearchParam.Parent == n.ID : Model.Role.Parent == n.ID) }))
        </div>
        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>