﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model DeptModel
@{
    var parents = Model.Parents ?? new List<Dept>();
}
<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <input type="hidden" class="form-control" value="@Model.Dept.ID" id="ID" name="ID">
    <div class="container-fluid">
        <div class="form-group">
            <label for="definpu">@DACS.T("Code")</label>
            @Html.CusTextBox("CrCode", "Code", Model.Dept.Code, DACS.T("Code"), DACS.T("Code"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Tên")</label>
            @Html.CusTextBox("CrName", "Name", Model.Dept.Name, DACS.T("Tên"), DACS.T("Tên"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Mô tả")</label>
            @Html.CusTextArea("CrDescribe", "Describe", Model.Dept.Describe, DACS.T("Mô tả"), DACS.T("Mô tả"), 5)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Thuộc phòng ban")</label>
            @Html.CusDropdownList("CrParent", "Parent", DACS.T("Không thuộc phòng ban nào"), Model.Parents.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = (Model.Dept.ID == 0 && Model.SearchParam.Parent > 0 ? Model.SearchParam.Parent == n.ID : Model.Dept.Parent == n.ID) }))
        </div>
        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>