﻿<div class="col-sm-3">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="images/home/recommend1.jpg" alt="" />
                <a href="" >  <p>Hướng dẫn tập bụng sáu múi cho nam ...</p></a>
            </div>

        </div>
    </div>
</div>