﻿@using Common.Dac
@using ShopRetailModel.Models
@model ProductViewModel
<div class="td-main-content-wrap">
    <div class="td-container td-post-template-default">
        <div class="td-crumb-container">
            <div class="entry-crumbs">
                <span class="td-bred-first"><a href="/">Trang Chủ</a></span> <i class="td-icon-right td-bread-sep"></i>
                <span>
                    <a class="entry-crumb" href="/the-hinh" title="Xem tất cả các bài viết trong Thể Hình">
                        <span itemprop="name">Thể Hình</span>
                    </a>
                </span> <i class="td-icon-right td-bread-sep"></i>
                <span>
                    <a class="entry-crumb" href="/the-hinh/kien-thuc-the-hinh" title="Xem tất cả các bài viết trong Kiến thức thể hình">
                        <span itemprop="name">Kiến thức thể hình</span>
                    </a>
                </span> <i class="td-icon-right td-bread-sep td-bred-no-url-last"></i>
                <span class="td-bred-no-url-last">20 Thực phẩm không nên bỏ tủ lạnh nếu muốn chúng tươi...</span>
            </div>
        </div>
        <div class="td-pb-row">
            <div class="td-pb-span8 td-main-content" role="main">
                <div class="td-ss-main-content">
                    <article class="post type-post status-publish format-standard has-post-thumbnail hentry" id="">
                        <div class="td-post-header">
                            <ul class="td-category">
                                <li class="entry-category">
                                    <a href="/the-hinh">@Model.CategoryName</a>
                                </li>
                            </ul>
                            <header class="td-post-title">
                                <h1 class="entry-title">@Model.Name</h1>
                                <div class="td-module-meta-info"></div>
                            </header>
                        </div>
                        <div class="td-post-content">
                            <div class="td-a-rec td-a-rec-id-content_top">
                                <div class="td-visible-desktop">
                                    <div class="g g-19">
                                        <div class="g-single a-270">
                                            <p style="text-align: center;"><a href="#" rel="nofollow"><img alt="xxx" src="/images/banner-nitro-tech-650x200.jpg"></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="td-visible-phone">
                                    <div class="g g-19">
                                        <div class="g-single a-270">
                                            <p style="text-align: center;"><a href="#" rel="nofollow"><img alt="xxx" src="/images/banner-nitro-tech-650x200.jpg"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- kk-star-ratings -->
                            <br clear="both">
                            @Html.Raw(Model.Body)
                            <div class="section_cmt_fb">
                                <div class="section-content-fb">
                                    <div id="fb-root"></div>
                                    <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-num-posts="5" data-width="100%"></div>
                                </div>
                            </div>

                        </div>
                        <footer class="hidden">
                            <div class="td-post-source-tags">
                                <ul class="td-tags td-post-small-box clearfix">
                                    <li><span>TAGS</span></li>
                                    <li>
                                        <a href="/tag/kien-thuc-the-hinh">Kiến thức thể hình</a>
                                    </li>
                                    <li>
                                        <a href="/tag/the-hinh">Tập thể hình</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="td-post-sharing td-post-sharing-bottom td-with-like">
                                <span class="td-post-share-title">CHIA SẺ</span>
                                <div class="td-classic-sharing">
                                    <!-- ADDTHIS PLUGIN LIKE SHARE BTN -->
                                </div>
                            </div>
                        </footer>
                    </article><!-- /.post -->

                    <p><strong>Bạn thấy bài viết thế nào ?</strong></p>
                    <div class="fb-comments-plugin">
                        <!-- FACEBOOK COMMENT PLUGIN -->
                    </div>
                </div>
            </div>
            <div class="td-pb-span4 td-main-sidebar" role="complementary">
                <div class="td-ss-main-sidebar">
                    <aside class="td_block_template_1 widget widget_text">
                        <div class="textwidget">
                            <div class="g g-20">
                                <div class="g-single a-279">
                                    <p style="text-align: center;"><a href="#" rel="nofollow"><img alt="xxx" src="/images/banner-mass-muscle-gainer-530x350.jpg"></a></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <div class="td_block_wrap td_block_7 td_block_widget td_with_ajax_pagination td-pb-border-top td_block_template_1">
                        <div class="td-block-title-wrap">
                            <h4 class="block-title"><span class="td-pulldown-size">Cùng chủ đề</span></h4>
                        </div>
                        <div class="td_block_inner">
                            @if (ViewBag.LienQuans != null)
                            {
                                var lienquans = (List<Product>)ViewBag.LienQuans;
                                foreach (var item in lienquans)
                                {
                                    <div class="td-block-span12">
                                        <div class="td_module_6 td_module_wrap td-animation-stack td-meta-info-hide">
                                            <div class="td-module-thumb">
                                                <a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name,item.ID))" rel="bookmark" title="@item.Name"><img alt="@item.Name" class="entry-thumb" height="70" sizes="(max-width: 100px) 100vw, 100px" src="@DACS.StgPath(item.ThumbPath)" title="@item.Name" width="100"></a>
                                            </div>
                                            <div class="item-details">
                                                <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name,item.ID))" rel="bookmark" title="@item.Name">@DACS.Summary(item.Name,10)</a></h3>
                                                <div class="td-module-meta-info"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <!-- ./td-block-span12 -->
                        </div>
                    </div><!-- ./block -->
                    <aside class="td_block_template_1 widget widget_text">
                        <div class="textwidget">
                            <div class="g g-21">
                                <div class="g-single a-266">
                                    <p style="text-align: center;"><a href="https://shop.khoedep.vn/products/prostar-whey-protein-sua-tang-co-giam-mo?ref=10501"><img alt="Sữa tăng cơ giảm mỡ Whey protein" src="images/whey-protein-prostar-widget-2.jpg"></a></p>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div><!-- /.td-pb-row -->
    </div><!-- /.td-container -->
</div><!-- /.td-main-content-wrap -->
