﻿@using Common.Dac
@model ContentCategroryModel
    @{
        var ContentOfCategories = Model.ContentViews ?? new List<ProductViewModel>();
        var Gridheaders = ContentOfCategories.Take(5).ToList();
        var Contents = ContentOfCategories.Take(12).Skip(5).ToList();
}
<div class="td-category-grid">
    <div class="td-container">
        <div class="td-pb-row1">
            <div class="td-pb-span12">
                @Html.Partial("~/Views/Shared/Blocks/Template/Grid_Header.cshtml",new ContentCategroryModel { ContentViews= Gridheaders })
            </div>
        </div>
    </div>
</div>
<div class="td-main-content-wrap">
    <div class="td-container">
        <!-- content -->
        <div class="td-pb-row">
            <div class="td-pb-span12 td-main-content">
                <div class="td-ss-main-content">
                    <div class="td-block-row">
                    @if (!DACS.IsEmpty(Contents))
                    {
                        foreach (var item in Contents)
                        {
                            <div class="td-block-span4">
                                <div class="td_module_6 td_module_wrap td-animation-stack td-meta-info-hide">
                                    <div class="td-module-thumb">
                                        <a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name,item.ID))" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="70" sizes="(max-width: 100px) 100vw, 100px" src="@DACS.StgPath(item.ThumbPath)" title="xxx" width="100"></a>
                                    </div>
                                    <div class="item-details">
                                        <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(item.Name,item.ID))" rel="bookmark" title="xxx">@DACS.Summary(item.Name,10)</a></h3>
                                        <div class="td-module-meta-info"></div>
                                    </div>
                                </div>
                            </div><!-- ./td-block-span4 -->
                        }
                    }
                    </div><!--./row-fluid-->
                    <div class="page-nav td-pb-padding-side">
                      @ViewBag.Pagination.Render()
                    </div>
                </div>
            </div>
        </div><!-- /.td-pb-row -->
    </div><!-- /.td-container -->
</div><!-- /.td-main-content-wrap -->

