﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model PositionModel
@{
    var parents = Model.Parents ?? new List<Position>();
}
<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <div class="container-fluid">
        <input type="hidden" class="form-control" value="@Model.Position.ID" id="ID" name="ID">
        <div class="form-group">
            <label for="definpu">@DACS.T("Code")</label>
            @Html.CusTextBox("CrCode", "Code", Model.Position.Code, DACS.T("Code"), DACS.T("Code"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Tên")</label>
            @Html.CusTextBox("CrName", "Name", Model.Position.Name, DACS.T("Tên"), DACS.T("Tên"), true)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Mô tả")</label>
            @Html.CusTextArea("CrDescribe", "Describe", Model.Position.Describe, DACS.T("Mô tả"), DACS.T("Mô tả"), 5)
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Thuộc chức vụ")</label>
            @Html.CusDropdownList("CrParent", "Parent", DACS.T("Không thuộc chức vụ nào"), Model.Parents.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = (Model.Position.ID == 0 && Model.SearchParam.Parent > 0 ? Model.SearchParam.Parent == n.ID : Model.Position.Parent == n.ID) }))
        </div>
        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>
