﻿@using ShopDetail.Models
@using Common.Dac
@using Common
@model AccountModel

<div class="tableAuto">
    <div class="over_auto">
        <table class="table table-bordered table-hover table-striped dataTable table-head-center">
            <thead>
                <tr>
                    <th class="wpx50">@DACS.T("STT")</th>
                    <th class="wpx50 center">
                        <label>
                            <input class="group-checkable" type="checkbox">
                            <span class="text"></span>
                        </label>
                    </th>
                    <th>
                        @DACS.T("Avatar")
                    </th>
                    <th>
                        @DACS.T("Tài khoản")
                    </th>
                    <th>
                        @DACS.T("Tên")
                    </th>
                    <th>
                        @DACS.T("Email")
                    </th>
                    <th class="">
                        @DACS.T("Phòng ban")
                    </th>
                    <th class="">
                        @DACS.T("Trạng thái")
                    </th>
                    <th class="wpx50 text-center">
                        @DACS.T("Thao tác")
                    </th>
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model.Accounts.Any())
                    {
                        int stt = 0;
                        foreach (var item in Model.Accounts)
                        {
                            stt++;
                            var dept = Model.Depts.FirstOrDefault(n => n.ID == item.IDDept) ?? new Dept();
                            var position = Model.Positions.FirstOrDefault(n => n.ID == item.IDPosition) ?? new Position();
                            var updateLink = DACS.ReUrl(DACS.admin + "/account/update/{0}.html", DACS.StringAlias(item.Name, item.ID));
                            var roleConfigLink = DACS.ReUrl(DACS.admin + "/account/role-config/{0}.html", DACS.StringAlias(item.Name, item.ID));
                            var deleteLink = DACS.ReUrl(DACS.admin + "/account/delete.html");
                            <tr>
                                <td class="center">
                                    @stt
                                </td>
                                <td class="center">
                                    <label>
                                        <input data-id="@item.ID" class="checkboxes" type="checkbox">
                                        <span class="text"></span>
                                    </label>
                                </td>
                                <td>
                                    <div class="td-img-avatar">
                                        <img class="img-responsive" src="@DACS.StgPath(item.Avatar)" title="" />
                                    </div>
                                </td>
                                <td>
                                    @item.Username
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td class="">
                                    @dept.Name
                                </td>
                                <td class="">
                                    @position.Name
                                </td>

                                <td class="center" rowspan="1" data-title="Thao tác">
                                    <ul class="important_action_btn">
                                        <li class="">
                                            <a class="quickUpdate" data-id="@item.ID" title="@DACS.T("Phân quyền")" href="@roleConfigLink">
                                                <i class="fa fa-cogs btn-info"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a class="quickUpdate" data-id="@item.ID" title="@DACS.T("Sửa")" href="@updateLink">
                                                <i class="fa fa-edit btn-warning"></i>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a title="Xóa" class="btndelete" data-link="@deleteLink" href="#" data-ids="@item.ID">
                                                <i class="fa fa-trash btn-danger"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </td>
                            </tr>

                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="DTTTFooter">
    <div class="col-sm-6">
        <div class="dataTables_info" id="simpledatatable_info" role="status" aria-live="polite">
            @( ViewBag.Pagination.RowCount > 0 ? DACS.T("Có tổng số {0} tài khoản", ViewBag.Pagination.RowCount) : DACS.T("Không có tài khoản    nào"))
        </div>
    </div>
    <div class="col-sm-6">
        @ViewBag.Pagination.Render()
    </div>
</div>
