﻿@if (!Utils.IsEmpty(Model.GuestDetail))
{
    <div id="md-upaccount" class="modal fade md-zindex" role="dialog" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="modal-logo">
                        <img class="main-logo img-responsive" src="/assets/app/img/logo.PNG" alt="logo" style="width: 65px;">
                    </div>
                    <h4 class="modal-title">@Common.Dac.DACS.T("Cập nhật thông tin")</h4>
                </div>
                <div class="modal-body">
                    <form role="form" data-link="@DACS.ReUrl("/Account/UpdateInfor")" method="post" class="frm-update_infor">
                        <div class="row">
                            <div class="col-md-3">
                                <label>@Common.Dac.DACS.T("Ảnh đại diện")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <img class="acc-avatar img-thumbnail img-responsive" id="UpdateGuestImg" src="@GlobalConfig.StgSrcThumb(Model.GuestDetail.Avatar,220,"auto")" />
                                        <input name="ID" type="hidden" value="@Model.GuestDetail.ID" />
                                        <input name="ThumbName" type="hidden" />
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label class="input-group-btn">
                                            <span class="btn btn-primary">
                                                @Common.Dac.DACS.T("Thay avatar")<input type="file" name="ThumbPath" style="display: none;" onchange='$("#lbViewFileName").val($(this).val()) ;'>
                                            </span>
                                        </label>
                                        <input type="text" id="lbViewFileName" class="form-control " readonly="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Họ và tên")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" value="@Model.GuestDetail.Name" name="Name" class="form-control" placeholder="@Common.Dac.DACS.T("Họ và tên")">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Giới tính") </label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <select class="form-control" name="Gender">
                                            <option @(Model.GuestDetail.Gender == 1 ? "selected" : "") value="1">@Common.Dac.DACS.T("Nam")</option>
                                            <option @(Model.GuestDetail.Gender == 2 ? "selected" : "") value="2">@Common.Dac.DACS.T("Nữ")</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Ngày sinh")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" value="@Utils.DateToString(Model.GuestDetail.Birthday, "dd-MM-yyyy")" name="Birthday" class="form-control date" placeholder="@Common.Dac.DACS.T("Ngày sinh")">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Số điện thoại")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input class="form-control " value="@Model.GuestDetail.Phone" name="Phone" type="text" placeholder="@Common.Dac.DACS.T("Số điện thoại")">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Địa chỉ")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <input type="text" name="Address" class="form-control" placeholder="@Common.Dac.DACS.T("Địa chỉ")" value="@Model.GuestDetail.Address">
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>@Common.Dac.DACS.T("Tỉnh thành") </label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <select class="form-control" name="IDProvince">
                                            <option value="1">@Common.Dac.DACS.T("Hà Nội")</option>
                                            <option value="2">@Common.Dac.DACS.T("Hải Dương")</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>@Common.Dac.DACS.T("Giới thiệu")</label>
                                <div class="form-group">
                                    <span class="input-icon icon-right">
                                        <textarea class="form-control" name="Describe" rows="4" placeholder="@Common.Dac.DACS.T("Giới thiệu")">@Model.GuestDetail.Describe</textarea>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-blue">@Common.Dac.DACS.T("Lưu lại") </button>
                            <button type="button" class="btn btn-blue" data-dismiss="modal">@Common.Dac.DACS.T("Bỏ qua") </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
