﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model AccountModel

<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <div class="container-fluid">
        <input type="hidden" class="form-control" value="@Model.Account.ID" id="ID" name="ID">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Username")</label>
                    @Html.CusTextBox("CrUsername", "Username", Model.Account.Username, DACS.T("Username"), DACS.T("Username"), true)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Tên")</label>
                    @Html.CusTextBox("CrName", "Name", Model.Account.Name, DACS.T("Tên"), DACS.T("Tên"), true)
                </div>
            </div>
            <div class="col-md-4">
                <label for="definpu">@DACS.T("Giới tính")</label>
                <div class="checkbox">
                    @foreach (var gender in Model.DicGender)
                    {
                        <label class="margin-right-10">
                            <input type="radio" @(Model.Account.Gender == gender.Key ? "checked" : string.Empty) value="@gender.Key" class="colored-success" name="Gender">
                            <span class="nowrap text">@gender.Value</span>
                        </label>
                    }
                </div>
            </div>

        </div>

        @if (Model.Account.ID == 0)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="definpu">@DACS.T("Mật khẩu")</label>
                        @Html.CusTextBoxPassword("CrPassword", "Password", string.Empty, DACS.T("Mật khẩu"), DACS.T("Mật khẩu"), false)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="definpu">@DACS.T("Nhập lại mật khẩu")</label>
                        @Html.CusTextBoxPassword("CrConfirmPassword", "ConfirmPassword", string.Empty, DACS.T("Nhập lại mật khẩu"), DACS.T("Nhập lại mật khẩu"), false)
                    </div>
                </div>
            </div>
        }


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Số diện thoại")</label>
                    @Html.CusTextBox("CrPhone", "Phone", Model.Account.Phone, DACS.T("Số diện thoại"), DACS.T("Số diện thoại"), true)
                </div>
            </div><div class="col-md-6">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Email")</label>
                    @Html.CusTextBox("CrEmail", "Email", Model.Account.Email, DACS.T("Email"), DACS.T("Email"), true)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Địa chỉ")</label>
            @Html.CusTextBox("CrAddress", "Address", Model.Account.Address, DACS.T("Địa chỉ"), DACS.T("Địa chỉ"), true)
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Phòng ban")</label>
                    @Html.CusDropdownList("CrIDDept", "IDDept", DACS.T("Phòng ban"), Model.Depts.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = Model.Account.IDDept == n.ID }))
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Chức vụ")</label>
                    @Html.CusDropdownList("CrIDPosition", "IDPosition", DACS.T("Chức vụ"), Model.Positions.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = Model.Account.IDPosition == n.ID }))
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="definpu">@DACS.T("Avatar")</label>
            <input type="hidden" name="Avatar" value="" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="definpu">@DACS.T("Trạng thái")</label>
                    @Html.CusDropdownList("CrStatus", "Status", DACS.T("Trạng thái"), Model.DicStatus.Select(n => new SelectListItem() { Text = n.Value, Value = n.Key.ToString(), Selected = Model.Account.Status == n.Key }))
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-sm btn-labeled  btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>

