﻿@using Common.Dac
@using ShopDetail.Models
@using Common
@model RoleModel
<form id="frmUpdate" action="@Model.Url" data-target="#divTable" data-bv-feedbackicons-validating="glyphicon glyphicon-refresh" title="@ViewBag.Title" data-bv-feedbackicons-invalid="glyphicon glyphicon-remove" data-bv-feedbackicons-valid="glyphicon glyphicon-ok" class="form-horizontal bv-form validateForm quickSubmit" method="post" novalidate="novalidate" accept-charset="utf-8">
    <input type="hidden" class="form-control" value="@Model.Role.ID" id="ID" name="ID">
    <div class="container-fluid">

        <div class="form-group">
            <label for="definpu">@DACS.T("Chọn nhóm quyền")</label>
            @Html.CusDropdownList("CrIDModules", "IDModules", null, Model.Modules.Select(n => new SelectListItem() { Text = n.Name, Value = n.ID.ToString(), Selected = Model.RoleModules.Select(p => p.IDModule).ToArray().Contains(n.ID) }), new
       {
           @multiple = "",
           data_live_search = "true",
           data_container = "body",
           data_live_search_placeholder = "Tìm kiếm",
           data_none_selected_text = "Chọn nhóm quyền"
       })
        </div>
        <div class="clearfix"></div>
        <div class="form-group padding-top-10">
            <button class="btn btn-labeled btn-palegreen">
                <i class="btn-label glyphicon glyphicon-ok"></i>@DACS.T("Cập nhật")
            </button>
        </div>
    </div>
</form>