﻿<div id="md-add-playlist" data-link="@Common.Dac.DACS.T("/playlist/getplaylistforguest")" class="modal fade md-zindex" role="dialog" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog md-small">
        <!-- Modal content-->
        <div class="modal-content modal-vov-custom" >
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-logo">
                    <img class="main-logo img-responsive" src="/assets/app/img/logo.PNG" alt="logo" style="width: 65px;">
                </div>
                <div class="tile-modal">
                    <h4 class="modal-title">@Common.Dac.DACS.T("Thêm bài hát này vào danh sách Playlist")</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="playlist-list useScrollBar">
                    <div class="music-list-wrapper music-song-list mgtp view-playlist-item">
                    </div>
                </div>
            </div>
            <div class="modal-footer playList-Value">
                <div class="row">
                    <div class="col-md-9">
                        <input class="form-control" name="Name" type="text" placeholder="@Common.Dac.DACS.T("Nhập tên Playlist")" />
                    </div>
                    <div class="col-md-3">
                        <button type="button" data-link="@DACS.ReUrl("/Playlist/TaoPlayList")" class="btn btn-blue quickCreatePlayList">@Common.Dac.DACS.T("Tạo Playlist") </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>