﻿<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li class="active">
        <a href="/">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>

    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-cog"></i>
            <span class="menu-text">@DACS.T("Quản trị hệ thống") </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="@DACS.ReUrl(DACS.admin+"/position.html","")">
                    <span class="menu-text">@DACS.T("Chức vụ")</span>
                </a>
            </li>
            <li>
                <a href="@DACS.ReUrl(DACS.admin+"/dept.html","")">
                    <span class="menu-text">@DACS.T("Phòng ban")</span>
                </a>
            </li>
            <li>
                <a href="@DACS.ReUrl(DACS.admin+"/account.html","")">
                    <span class="menu-text">@DACS.T("Tài khoản")</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-user"></i>
            <span class="menu-text">@DACS.T("Phân quyền") </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li>
                <a href="@DACS.ReUrl(DACS.admin+"/module.html","")">
                    <span class="menu-text">@DACS.T("Module")</span>
                </a>
            </li>
            <li>
                <a href="@DACS.ReUrl(DACS.admin+"/role.html","")">
                    <span class="menu-text">@DACS.T("Quyền")</span>
                </a>
            </li>
        </ul>
    </li>
</ul>